---
layout: default
title: home
use_lightbox: true
---

<aside>
    <h1>digital designer and systems thinker, shaping intuitive and scalable experiences</h1>
</aside>

{% comment %}
<aside>
    <h2>💾 recent projects</h2>
    {% for project in site.projects %}
    <a href="{{ project.link }}" target="_blank" class="row-link">
        <div class="row-link-content">
            <figure>
                <img src="{{ project.image }}" alt="{{ project.title }}" />
            </figure>
            <h3>{{ project.title }}</h3>
        </div>
        <small>{{ project.role }}, {{ project.year }}</small>
    </a>
    {% endfor %}
</aside>
{% endcomment %}

<aside>
    <h2>💼 experience</h2>
    {% for experience in site.data.experiences %}
    <a href="{{ experience.link }}" {% if experience.link != "#" %}target="_blank"{% endif %} class="row-link">
        <div class="row-link-content">
            <figure class="rounded">
                <img src="{{ experience.image }}" alt="{{ experience.company }}" />
            </figure>
            <h3>{{ experience.company }}<br><small>{{ experience.role }}</small></h3>
        </div>
        <small>{{ experience.period }}</small>
    </a>
    {% endfor %}
</aside>

<aside>
    <h2>🍭 visual snippets</h2>
    <div class="grid gallery">
        {% for image in site.data.gallery %}
        <a href="{{ image.full }}" class="grid-item">
            <img src="{{ image.thumb | default: image.full }}">
        </a>
        {% endfor %}
    </div>
</aside>
