// Dark theme styles - applied when body has 'dark-theme' class
body.dark-theme {

    background: var(--dark-color);
    color: var(--light-color);

    &:before {
        background: white;
        left: 100%;
        top: 0;
    }

    &:after {
        background: radial-gradient(circle, transparent 0%, var(--dark-color) 100%);
        height: 100vh;
        mix-blend-mode: overlay;
    }

    small {
        color: var(--glass);
    }

    a {
        color: var(--light-color);
    }


    canvas {
        mix-blend-mode: overlay;
    }

    .system {
        mix-blend-mode: screen;

        .orb {
            background: rgba(255, 255, 255, 0.2);
            top: 0;
            right: 0;
            width: 20vw;
            height: 20vw;
            border-color: rgba(255, 255, 255, 0.5);
            border-width: 1rem;
            filter: blur(1rem);

            @media (max-width: 36rem) {
                width: 60vh;
                height: 60vh;
            }
        }
    }
}