// Dark theme styles - applied when body has 'dark-theme' class
body.dark-theme {

    background: var(--dark-color);
    color: var(--light-color);

    &:before {
        background: var(--primary-color);
        right: 0;
        top: 0;
    }

    &:after {
        background: linear-gradient(to top, var(--dark-color) 0%, transparent 50%);
    }

    small {
        color: var(--glass);
    }

    a {
        color: var(--light-color);

        &:hover,
        &:focus,
        &:active {
            color: var(--light-color);
        }
    }


    canvas {
        mix-blend-mode: screen;
    }

    .system {
        .orb {
            background: rgba(255, 255, 255, 0.4);
            top: 0;
            right: 0;
            width: 20vw;
            height: 20vw;
            border-color: var(--primary-color);
            border-width: 1rem;
            filter: blur(1rem);

            @media (max-width: 36rem) {
                width: 60vh;
                height: 60vh;
            }
        }
    }
}