.container-layout {
    padding: 1.5rem;
    border-radius: 0.75rem;
    gap: 1.5rem;
}

.window-layout {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
    background: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(255, 255, 255, 0.05);
    transition: 
        opacity 0.3s ease, 
        transform 0.3s ease, 
        background 0.3s ease-in-out,
        backdrop-filter 0.3s ease-in-out,
        box-shadow 0.3s ease-in-out;

    @media (max-width: 800px) {
        border: none;
        box-shadow: none;
    }

    &:hover {
        transform: scale(1.02);
        border-color: rgba(255, 255, 255, 0.2);
        box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.2);

        @media (max-width: 800px) {
            transform: none;
        }
    }
}