// Font import
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Zen+Dots&display=swap');

// Variables
:root {
    // color set 1
    --color-set-1-color-1: hsl(240, 100%, 65%);
    --color-set-1-color-2: hsl(210, 100%, 75%);
    --color-set-1-color-3: hsl(205, 100%, 65%);
    --color-set-1-color-4: hsl(240, 45%, 20%);

    // color set 2 
    --color-set-2-color-1: hsl(342, 100%, 65%);
    --color-set-2-color-2: hsl(309, 100%, 75%);
    --color-set-2-color-3: hsl(39, 100%, 65%);
    --color-set-2-color-4: hsl(219, 45%, 20%);

    // color set 3
    --color-set-3-color-1: hsl(253, 100%, 65%);
    --color-set-3-color-2: hsl(162, 100%, 75%);
    --color-set-3-color-3: hsl(308, 100%, 65%);
    --color-set-3-color-4: hsl(254, 45%, 20%);


    // Change these based on selection
    --primary-color: var(--color-set-1-color-1); 
    --secondary-color: var(--color-set-1-color-2); 
    --tertiary-color: var(--color-set-1-color-3); 
    --dark-color: var(--color-set-1-color-4);

    // Fonts
    --font-primary: 'Funnel Sans', sans-serif;
    --font-secondary: 'Zen Dots', sans-serif;
}

html {
    background: var(--dark-color);
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
    position: relative;

    // Prevent text selection
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.75rem;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    z-index: 9;
    animation: slide-down 0.5s ease-in-out; 

    nav {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        z-index: 3;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;
            line-height: 1em;
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            border: 2px solid rgba(255, 255, 255, 0.1);
            transition: all 0.2s ease-in-out;

            &:hover {
                border-color: white;
                color: white;
                text-decoration: none;
            }
        }
    }
}

section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4rem;
    padding: 2rem;
    flex: 1;
    width: 100%;
    z-index: 9;
    animation: slide-up 0.5s ease-in-out;

    @media (max-width: 1800px) {
        align-items: flex-end;
        justify-content: space-between;
    }

    @media (max-width: 800px) {
        flex-direction: column;
    }
}

article {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    width: 100%;
    max-width: 380px;

    @media (max-width: 800px) {
        max-width: 100%;
    }
}

hr {
    width: 100%;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.warp {
    padding: 0.5rem;
    color: white;
    font-family: var(--font-secondary);
    letter-spacing: 1px;
    font-style: italic;
    font-size: 1rem;
    position: relative;
    transition: color 0.2s ease-in-out;
    z-index: 2;

    &:before {
        content: '';
        border-radius: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: blur(1px);
        background: var(--primary-color);
        mix-blend-mode: overlay;
        transform: skew(-65deg, 9deg) rotate(19deg) scale(1.4);
        background: var(--primary-color);
        border: 4px solid var(--tertiary-color);
        box-shadow: 
            inset 0 0.25rem 0rem var(--secondary-color),
            0 -0.5rem 0rem var(--primary-color);
        animation: skew 10s ease-in-out infinite;

        @keyframes skew {
            0% {
                transform: skew(-125deg, -2deg) rotate(-9deg) scale(1.4);
            }
            50% {
                transform: skew(-165deg, -6deg) rotate(-19deg) scale(1.4);
            }
            100% {
                transform: skew(-125deg, -2deg) rotate(-9deg) scale(1.4);
            }
        }
    }

    &:after {
        content: '';
        border-radius: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--tertiary-color);
        transform: skew(-135deg, -2deg) rotate(-9deg) scale(1.6);
        border: 2px solid var(--primary-color);
        box-shadow: 
            inset 0 1px 0 var(--secondary-color),
            0 -1px 0 var(--secondary-color);
        mix-blend-mode: overlay;

        animation: warp 20s ease-in-out infinite;

        @keyframes warp {
            0% {
                transform: skew(-135deg, -2deg) rotate(-9deg) scale(1.6);
            }
            50% {
                transform: skew(-155deg, -2deg) rotate(-19deg) scale(1.6);
            }
            100% {
                transform: skew(-135deg, -2deg) rotate(-9deg) scale(1.6);
            }
        }
    }
}

.colors {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    align-items: center;
    justify-content: center;

    .color {
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
            transform: scale(1.2);
            border-color: rgba(255, 255, 255, 0.5);
        }

        &.active {
            border: 2px solid white;
        }

        &.color-1 {
            background: linear-gradient(45deg, var(--color-set-1-color-1), var(--color-set-1-color-3));
        }
        &.color-2 {
            background: linear-gradient(45deg, var(--color-set-2-color-1), var(--color-set-2-color-3));
        }
        &.color-3 {
            background: linear-gradient(45deg, var(--color-set-3-color-1), var(--color-set-3-color-3));
        }
    }
}


// animations

@keyframes slide-up {
    0% {
        transform: translateY(10%);
        opacity: 0;
        
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(-10%);
        opacity: 0;
        
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}