// Body and main layout

html {
    background-color: var(--dark-color);
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: var(--dark-color);

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image:
            linear-gradient(to top, transparent 0%, var(--dark-color) 100%),
            radial-gradient(circle, rgba(255, 255, 255, 0.2) 1px, transparent 1px),
            radial-gradient(circle, 
                var(--primary-color) 0%, 
                var(--secondary-color) 33%,
                var(--tertiary-color) 66%,
                transparent 100%);
        background-size: cover, 1rem 1rem, 200% 200%;
        background-position: 0 0, 0 0, 50% 0;
        background-attachment: fixed, fixed, fixed;
        background-repeat: no-repeat, repeat, no-repeat;
        mix-blend-mode: screen;
        z-index: 1;
        animation: background 10s linear infinite;

        @media (max-width: 800px) {
            background-size: cover, 1rem 1rem, 200% 200%;
        }

        @keyframes background {
            0% {
                background-position: 0 0, 0 0, 50% 0;
            }
            100% {
                background-position: 0 0, 0 -100%, 50% 0;
            }
        }
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--dark-color);
        mix-blend-mode: overlay;
        opacity: 0.2;
        z-index: 2;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 3rem;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1.5rem;
    animation: blur-in 0.6s ease-in-out, slide-up 0.4s ease-in-out;
    z-index: 3;

    nav {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    width: 100%;
    gap: 3rem;
    padding: 1.5rem;
    animation: blur-in 0.6s ease-in-out, slide-down 0.4s ease-in-out;

    @media (max-width: 1600px) {
        justify-content: space-between;
        align-items: flex-end;
    }

    @media (max-width: 800px) {
        flex-direction: column;
        align-items: center;
    }
}

article {
    @extend .window-style;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: var(--container-width);
    gap: 1.5rem;
    padding: 1.5rem;
    z-index: 3;
}

hr {
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    mix-blend-mode: overlay;
}

