// Body and main layout

html {
    background-color: var(--dark-color);
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.follow {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200vw;
    height: 200vw;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
    background: 
        linear-gradient(45deg, 
        transparent 0%, 
        var(--secondary-color) 20%,
        var(--primary-color) 40%,
        var(--tertiary-color) 60%,
        transparent 100%);
    mix-blend-mode: screen;
    opacity: 0.3;

    @media (max-width: 800px) {
        width: 400vh;
        height: 400vh;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 3rem;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1.5rem;
    animation: blur-in 0.4s ease-in-out, slide-up 0.4s ease-in-out;

    nav {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    width: 100%;
    gap: 3rem;
    padding: 1.5rem;
    animation: blur-in 0.4s ease-in-out, slide-down 0.4s ease-in-out;

    @media (max-width: 1600px) {
        justify-content: space-between;
        align-items: flex-end;
    }

    @media (max-width: 800px) {
        flex-direction: column;
    }
}

article {
    @extend .window-style;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: var(--container-width);
    gap: 1.5rem;
    padding: 1.5rem;
    z-index: 3;
}

hr {
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    mix-blend-mode: overlay;
}

