// Lightbox styling
.sl-close {
    color: #fff !important;
}

.sl-wrapper {
    .sl-navigation button {
        color: #fff !important;
    }
    
    .sl-counter {
        color: #fff !important;
    }
}

.sl-overlay {
    background-color: #000 !important;
} 