// Typography
body {
    font-family: var(--font-primary);
    font-size: 16px;
    color: var(--light-color);
    font-weight: 400;
}

h1, h2 {
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.2em;
}

h2 {
    color: var(--primary-color);
}

p {
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.8em;
    font-size: 1rem;
    font-weight: 500;
    transition: opacity 0.25s ease-in-out;
}

small {
    font-size: 0.8rem;
    font-weight: 700;
    font-family: var(--font-primary);
}

a {
    transition: all 0.2s ease-in-out;
    color: white;
    text-decoration: none;
    font-weight: 700;

    &:hover,
    &:focus,
    &:active {
        color: var(--secondary-color);
    }
}


h1,
h2,
h3,
p {
    a {
        white-space: nowrap;
    }

    img {
        width: 1.5rem;
        height: 1.5rem;
        object-fit: cover;
        display: inline-block;
        margin-bottom: 0.125rem;
        vertical-align: bottom;
        border-radius: 0.5rem;
        margin-right: 0.25rem;
        box-shadow: 0 0.125rem 0.25rem 1px rgba(0, 0, 0, 0.1);
    }
}