// Typography
body {
    font-family: var(--font-primary);
    font-size: 16px;
    color: white;
    font-weight: 400;
}

h1 {
    font-family: var(--font-secondary);
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1em;

    span {
        padding: 0.5rem;
        padding-left: 1rem;
        color: black;
        mix-blend-mode: screen;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-style: italic;
        font-size: 0.9rem;
        position: relative;
        text-shadow: 0 2px 0.5rem rgba(0, 0, 0, 0.2);
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        filter: saturate(0.5);

        &:after,
        &:before {
            content: '';
            border-radius: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: var(--tertiary-color);
            mix-blend-mode: overlay;
            transform: skew(-35deg, -2deg) rotate(-9deg) scale(1.6);
            border: 2px solid white;
            box-shadow: 0 -4px 0 white;
        }

        &:after {
            transform: skew(-65deg, 5deg) rotate(9deg) scale(1.4);
            border-radius: 0;
            mix-blend-mode: difference;
            filter: blur(1px);
            box-shadow: 
                0 0.25rem 3rem var(--primary-color),
                0 -0.25rem 3rem var(--tertiary-color);
        }
    }
}

h2 {
    font-family: var(--font-secondary);
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5em;
}

h3 {
    font-family: var(--font-secondary);
    font-size: 0.65rem;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p {
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.7em;
    font-size: 1rem;
    font-weight: 500;
    transition: opacity 0.25s ease-in-out;
}

small {
    font-size: 0.8rem;
    font-weight: 700;
    font-family: var(--font-primary);
}

a {
    transition: all 0.2s ease-in-out;
    color: white;
    text-decoration: none;
    font-weight: 700;
    border-bottom: 4px solid transparent;

    &:hover,
    &:focus,
    &:active {
        color: white;
        border-color: rgba(255, 255, 255, 0.2);
    }

    &.button {
        background: rgba(255, 255, 255, 0.05);
        padding: 0.75rem 1.5rem;
        border-radius: 9999px;
        transition: all 0.2s ease-in-out;
        border: none;

        &:hover,
        &:focus,
        &:active {
            color: white;
            background: rgba(255, 255, 255, 0.1);
            transform: scale(1.05);
        }

        &:active {
            transform: scale(0.95);
            background: rgba(0, 0, 0, 0.1);
        }
    }
}


h1,
h2,
h3,
p {
    a {
        white-space: nowrap;
    }

    img {
        width: 1.5rem;
        height: 1.5rem;
        object-fit: cover;
        display: inline-block;
        margin-bottom: 0.125rem;
        vertical-align: bottom;
        border-radius: 0.5rem;
        margin-right: 0.25rem;
        box-shadow: 0 0.125rem 0.25rem 1px rgba(0, 0, 0, 0.1);
    }
}

.theme {
    transition: all 0.2s ease-in-out;
    border-bottom: 2px solid transparent;

    &:hover {
        transform: scale(1.05);
        border-color: var(--tertiary-color);
    }

    &:active {
        transform: scale(0.95);
    }
}