// Fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

// Color variables
:root {
    --primary-color: rgb(115, 80, 255);
    --secondary-color: rgb(6, 2, 19);
    --tertiary-color: rgb(80, 255, 252);
    --quaternary-color: rgb(220, 80, 255);
} 