// Fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Zen+Dots&display=swap');

// Color variables
:root {
    --primary-color: #425fff;
    --secondary-color: #FF425F;
    --tertiary-color: #5FFF42;

    --line-color: var(--tertiary-color);

    --dark-color: #2e355c;

    --font-primary: 'DM Sans', sans-serif;
    --font-secondary: 'Zen Dots', sans-serif;
    --font-mono: monospace;
    --container-width: 480px;
} 