// Fonts
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Zen+Dots&display=swap');

// Color variables
:root {
    --primary-color: #473dff;
    --secondary-color: #ff80c1;
    --tertiary-color: #3df2ff;


    --primary-color-dark: #00a5ce;
    --secondary-color-dark: #17006a;
    --tertiary-color-dark: #fffa77;

    --dark-color: #060839;
    --font-primary: 'DM Sans', sans-serif;
    --font-secondary: 'Zen Dots', sans-serif;
    --font-mono: monospace;
    --container-width: 480px;
} 